<div class="container" style="padding-top: 20px;">
 <div class="table">
    
    <div class="col-md-4">
        
       <!-- side bar ----------------------> 
        <div class="row" style="border-right-style: solid; width: 300px; height:450px">
            
        <!--    upper    ------------>
            <div class="col-md-12" align="center" style="border-bottom-style: solid;">
                <div class="center">
                    <input class="search" placeholder="  input URL" ng-model="url.input">
                      <a href ng-click="submit(url.input)">
                          <span class="fa fa-search"></span>
                     </a>
                </div>
            </div>
        
         <!-- downer      ----------->
            <div class="row" style="padding-left:10px">
                <div class="col-md-12">
                    <div  ng-repeat="u in urls track by $index"  style="padding-top: 15px" ng-show="u!=1 && u">
                        <div class="btn m-b-xs w-xs btn-default"  >
                                <div class="sidebar">
                                    <div class="col-md-8">
                                      <div ng-click="select($index)"> <h4> URL {{$index}} </h4> </div>
                                        <span class="close-btn col-md-2"><a href ng-click="delete(u)">X</a></span>
                                    </div>
                                </div>      
                        </div>
                    </div> 
                                   
                </div>
                             
            </div>
        </div>
        
    </div>        
<!-- information of chosen url ---------->
    <div class="col-md-8" ng-show="selectedIndex" align="center">
        <h4>URL {{selectedIndex}}</h4>
        <content ng-show="selectedObj"></content>
    </div>
     
 </div>
</div>
